In [19]:
#pip install yfinance

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 6.2 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in c:\users\dinos\anaconda3\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: lxml in c:\users\dinos\anaconda3\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in c:\users\dinos\anaconda3\lib\site-packages (from pandas_datareader) (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dinos\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dinos\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dinos\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.11)
Requirement already satisfied: six>=1.5 in c:\users\dinos\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from datetime import datetime
import pandas_datareader as reader

In [9]:
data = "/Users/hp/SAD_Finance/constituents_csv.csv"
#data = "/Users/hp/SAD_Finance/nasdaq_screener_1686545341556.csv"
stock=pd.read_csv(data)
len(stock)

505

In [10]:
stock['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [4]:
'''stock1 = stock[0:1000]
stock1
stock_symbol1 = stock1["Symbol"]
symbol1 = stock_symbol1.tolist()

test_symbol = ['A','AA','AAC','AACG','AACI','AACIU','AACIW','AADI','AAIC','AAIC^B','AAIC^C','AAIN']
test_symbol1=['BOOT','A']
'''

'stock1 = stock[0:1000]\nstock1\nstock_symbol1 = stock1["Symbol"]\nsymbol1 = stock_symbol1.tolist()\n\ntest_symbol = [\'A\',\'AA\',\'AAC\',\'AACG\',\'AACI\',\'AACIU\',\'AACIW\',\'AADI\',\'AAIC\',\'AAIC^B\',\'AAIC^C\',\'AAIN\']\ntest_symbol1=[\'BOOT\',\'A\']\n'

In [11]:
def stock_info(symbol):
    try:
        ticker = yf.Ticker(symbol)
    except AttributeError:
        return(pd.DataFrame(columns=['Date','Open','High','Low','Close','Volume','Dividends','Stock Splits','Symbol']))
    # Set the start and end dates for data retrieval
    start_date = datetime(2009, 1, 1)
    end_date = datetime(2019, 12, 31)
    historical_data = ticker.history(start=start_date, end=end_date, interval='1d')
    historical_data['Symbol']=symbol
    return(historical_data)

In [12]:
ticker = yf.Ticker('ZIVOW')

    # Set the start and end dates for data retrieval
start_date = datetime(2009, 1, 1)
end_date = datetime(2019, 12, 31)
ticker.history(start=start_date, end=end_date, interval='1d')

ERROR ZIVOW: Period '1mo' is invalid, must be one of ['1d', '5d']

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [13]:
data=pd.concat([stock_info(stock) for stock in stock['Symbol']])

ERROR ANTM: No timezone found, symbol may be delisted
ERROR BLL: No timezone found, symbol may be delisted
ERROR BRK.B: No timezone found, symbol may be delisted
ERROR BF.B: No price data found, symbol may be delisted (1d 2009-01-01 00:00:00 -> 2019-12-31 00:00:00)
ERROR CARR: Data doesn't exist for startDate = 1230786000, endDate = 1577768400
ERROR CERN: No timezone found, symbol may be delisted
ERROR CTXS: No timezone found, symbol may be delisted
ERROR DISCA: No timezone found, symbol may be delisted
ERROR DISCK: No timezone found, symbol may be delisted
ERROR DRE: No timezone found, symbol may be delisted
ERROR FB: No timezone found, symbol may be delisted
ERROR FRC: No timezone found, symbol may be delisted
ERROR FISV: No data found, symbol may be delisted
ERROR FBHS: No timezone found, symbol may be delisted
ERROR INFO: No timezone found, symbol may be delisted
ERROR KSU: No timezone found, symbol may be delisted
ERROR NLSN: No timezone found, symbol may be delisted
ERROR NLOK: No timezone found, symbol may be delisted
ERROR OGN: Data doesn't exist for startDate = 1230786000, endDate = 1577768400
ERROR OTIS: Data doesn't exist for startDate = 1230786000, endDate = 1577768400
ERROR PBCT: No timezone found, symbol may be delisted
ERROR PKI: No data found, symbol may be delisted
ERROR SIVB: No timezone found, symbol may be delisted
ERROR TWTR: No timezone found, symbol may be delisted
ERROR VIAC: No timezone found, symbol may be delisted
ERROR WLTW: No timezone found, symbol may be delisted
ERROR XLNX: No timezone found, symbol may be delisted

In [28]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Adj Close
Date,,,,,,,,,
2009-01-02 00:00:00-05:00,37.453072,38.650529,37.433549,38.520370,5313900.0,0.0,0.0,MMM,NaN
2009-01-05 00:00:00-05:00,38.260050,38.455287,37.817511,38.071320,3768800.0,0.0,0.0,MMM,NaN
2009-01-06 00:00:00-05:00,38.227516,38.923863,38.142912,38.520370,4966200.0,0.0,0.0,MMM,NaN
2009-01-07 00:00:00-05:00,38.142917,38.370693,37.472602,37.791489,4598100.0,0.0,0.0,MMM,NaN
2009-01-08 00:00:00-05:00,37.537673,38.207988,37.387991,38.123386,3944900.0,0.0,0.0,MMM,NaN
...,...,...,...,...,...,...,...,...,...
2019-12-23 00:00:00-05:00,129.406652,129.747931,128.119502,129.075104,1632300.0,0.0,0.0,ZTS,NaN
2019-12-24 00:00:00-05:00,128.919055,129.767395,128.021943,129.611374,442500.0,0.0,0.0,ZTS,NaN
2019-12-26 00:00:00-05:00,129.874634,129.874634,129.026294,129.718613,929400.0,0.0,0.0,ZTS,NaN
2019-12-27 00:00:00-05:00,130.079427,130.157437,129.084827,129.933167,1296100.0,0.0,0.0,ZTS,NaN
2019-12-30 00:00:00-05:00,130.245215,130.332971,128.529015,128.919067,942000.0,0.0,0.0,ZTS,NaN

In [15]:
data.to_csv('/Users/hp/SAD_Finance/stock_data_2009_2019.csv')

In [17]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.1-cp39-cp39-macosx_10_14_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 30.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /Users/hp/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.20.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1
Note: you may need to restart the kernel to use updated packages.

In [30]:
data.to_parquet('/Users/hp/SAD_Finance/stock_data_sp500_2009_2019.parquet')

In [17]:
len(set(data['Symbol']))

478

In [19]:
import pyarrow as pa
import pyarrow.parquet as pq

In [31]:
num_splits = 2
split_dfs = np.array_split(data, num_splits)

In [32]:
output_directory = '/Users/hp/SAD_Finance/'

for i, split_df in enumerate(split_dfs):
    output_filename = f"stock_data_sp500_2009_2019_{i}.parquet"
    output_path = output_directory + output_filename
    table = pa.Table.from_pandas(split_df)
    pq.write_table(table, output_path)
    print(f"Saved {output_path}")

Saved /Users/hp/SAD_Finance/stock_data_sp500_2009_2019_0.parquet
Saved /Users/hp/SAD_Finance/stock_data_sp500_2009_2019_1.parquet